.nav {
  display: flex;
  flex-direction: column;
}
.logo header {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  color: red;
}

.logo ul li a {
  text-align: left;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  color: green;
}
